{% extends "core/base_layout.html" %}

{% block content %}
    <div class="container">
        <h1>Listado de Libros</h1>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for li in libros %}
                    <tr>
                        <td>{{li.ISBN}}</td>
                        <td>{{li.nombreLibro}}</td>
                        <td>{{li.descripcion}}</td>
                        <td><a href="{% url 'form_mod_libro' li.ISBN %}">Modificar</a></td>
                        <td><a href="{% url 'form_del_libro' li.ISBN %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
        <a class="btn btn-info" href="{% url 'form_libro' %}">Nuevo registro</a>
    </div>
{% endblock content %}